body {
	font: #{$font-weight} #{$font-size} / #{$line-height} $font-family, Helvetica, Arial, sans-serif;
	letter-spacing: $letter-spacing;
	color: $black;
	height: auto;
	min-height: 100%;
	position: relative;
	background-color: #fff;
}

a{
	color: $black;

	&:hover{

		i{
			text-decoration: none;
		}

	}
}

.opened{

	display: block;

}

.ui-autocomplete{

	a{
		img{
			display: none !important;
		}
	}

}

img {
    height: auto;
}

.flex{
	display: flex;
	justify-content: space-between;

	@media (max-width: 768px) {
		flex-direction: column;
	}

}

p{
	margin: 0;
}

h1,h2,h3,h4{
	letter-spacing: -.05em;
	color: $black;
	line-height: 1.2;
}

h1{
	font-size: rem(50px);
	font-weight: 900;
	line-height: 1.2;
	color: inherit;
	
	@include display(phone) {
		font-size: rem(40px);
	}

}

h2, h3, h4 {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 700;
}


h2{
	font-size: 3rem;
	font-weight: bold;
	letter-spacing: -0.05em;
	margin: 0 0 40px 0;

	@media (max-width: 768px) {
		font-size: 36px;
		margin: 0 0 20px 0;
	}

	&.titulo-sessao{
		border-bottom: 5px solid #eee;
		padding-bottom: 20px;
	}
}

.container{

	@media (max-width: 768px) {
		padding-right: 20px;
		padding-left: 20px;
	}

}

i{
	text-decoration: none !important;
}

figure{

	max-width: 100%;

	> a{
		height: 100%;
	}

	img{
		height: 100%;
    object-fit: cover;
	}

}

body{

	.blocker{

		background-color: rgba(255,255,255,0.9);
		z-index: 10;

		@include display(phone) {

				padding: 10px 10px 0 10px;
				//background-color: transparent;

		}

		&.jquery-modal.current{

			.modal{
				display: inline-block !important;
				bottom: 0;
			}
		}

	}

	.modal{
		max-width: 707px;
		width: 100%;
		height: auto;
		box-shadow: none;
		@include border-radius(20px);
		//border: 2px solid #CCCCCC;
		padding: 40px;
		font-family: 'CircularStd';

		box-shadow: 0 0 20px 0 rgba(0,0,0,.5);

		@include display(phone) {

			@include border-radius(20px 20px 0 0);
			transition: all 3s;
			bottom: -100%;

		}

		a.close-modal{

			@include display(phone) {
				top: 12px;
				right: 12px;
			}

		}

		h3{
			font-size: 44px;
			font-weight: 900;
			letter-spacing: -.05em;

			@include display(phone) {
				line-height: 1;
				font-size: 32px;
			}

		}

		.introtext{
			color: #808080;
			font-size: 18px;
			margin-bottom: 20px;
			line-height: 1.4;

			@include display(phone) {
				font-size: 16px;
			}
		}

		.wpcf7-form-control-wrap{
			width: 50%;
			padding-right: 10px;
			padding-left: 10px;
			display: block;
			float: left;
			margin-bottom: 20px;

			@include display(phone) {
				padding-left: 0;
				padding-right: 0;
				width: 100%;
			}

			&:nth-child(odd){
				padding-left: 0;
			}

			&:nth-child(even){
				padding-right: 0;
			}
		}

		.field-contactado{

			.wpcf7-form-control-wrap{
				padding-left: 0;
			}

			& > label{
				float: left;
				font-size: 20px;
				margin-bottom: 5px;
				color: #555;
			}

			.contato{
				width: 100%;
				clear: both;
				display: block;
			}

		}

		.wpcf7-radio{

			@include display(phone) {
				display: flex;
				flex-direction: column;
			}

			input{
				//display: none;
			}

			span.wpcf7-list-item{

				margin: 0 30px 0 0;
				font-size: 1.3rem;
				cursor: pointer;

				label{
				    display: flex;
					align-items: center;
				}

			}


		}

		.btn{
			width: 100%;
		}

	}

}