.block-password-gate{
    width: 420px;
    margin: 0 auto;

    h1{
        margin: 0 0 36px 0;
        line-height: 1;
        text-align: center;
        color: #D61408;
    }

    .fields{
        
        display: flex;
        gap: 8px;

        input{
            flex: auto;
            padding: 0px 16px;
            height: 48px;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 4px;

            &:focus{
                outline: none;
                border-color: rgba(0, 0, 0, 0.3);
            }
        }
        
        button{
            padding: 0px 16px;
            height: 48px;
            background: #D61408;
            border-radius: 4px;
            border: 0;
            padding-top: 4px;
            cursor: pointer;

            &:hover{
                background-color: lighten(#D61408, 5%);
            }
        }
    }

    .password-error{
        width: 100%;
        padding: 16px 0px;
        background: rgba(213, 19, 7, 0.05);
        border-radius: 8px;
        text-align: center;
        margin-top: 8px;
        color: #D51307;
    }

}