.block-works-banner{

    padding: 0 80px;

    @include display(phone) {
        padding: 0 20px;
    }

    .work{
        
        //height: 600px;
        margin-bottom: 80px;
        padding: 0 0 0 80px;
        box-shadow: 0px 10px 20px rgba(#000, 0.25);

        @include display(phone) {
            padding: 0;
            margin-bottom: 20px;
            box-shadow: 0px 10px 10px rgba(#000, 0.25);
            text-align: center;
        }

        &:last-child{
            margin-bottom: 0;
        }

        a{
            width: 100%;
            display: flex;

            @include display(phone) {
                flex-direction: column;
            }

            &:hover{
                text-decoration: none;

                .work-title{
                    text-decoration: underline;
                }

            }

        }

    }

    .work-info{

        max-width: 720px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 80px 0 70px 0;

        @include display(phone) {
            padding: 30px 20px 20px 20px;
        }

    }

    .work-text{
        margin-bottom: 40px;

        @include display(phone) {
            margin-bottom: 20px;
        }
    }

    .work-title{
        font-size: 48px;
        margin-bottom: 20px;

        @include display(phone) {
            font-size: 38px;
        }
    }

    .work-description{
        opacity: .8;
    }

    .work-mock{
        margin-top: -40px;
        position: relative;
        display: flex;
        margin-left: auto;
        max-width: 620px;

        display: none;

        @include display(phone) {
            margin-top: 0;
        }

        img{
            margin-top: auto;

            @include display(phone) {
                margin-left: auto;
                height: 320px;
                object-fit: cover;
            }
        }
    }

}

.work-tags{
    display: flex;
    flex-wrap: wrap;

    @include display(phone) {
        
        justify-content: center;
    }

    li{
        background-color: rgba(255,255,255,.05);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px 16px;

        @include display(phone) {
            
            margin-left: 5px;
            margin-right: 5px;
        }
    }

}

.block-works-full{

    .work{
        //padding: 80px 0 80px 0;
        padding: 0 80px;
        flex-direction: column;
        align-items: center;

        @include display(phone) {
            padding: 0;
        }

    }

    .work-title{
        text-align: center;
    }

    .work-description{
        padding: 0 80px;
        font-size: 20px;
        display: flex;
    
        @include display(phone) {
            flex-direction: column;
            padding: 0 20px;
            text-align: center;
            font-size: 18px;
        }

        > * {

            flex: 1;
            margin-right: 10px;
            margin-left: 10px;

            @include display(phone) {
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 10px;
            }

            &:first-child{
                margin-left: 0;
            }

            &:last-child{
                margin-right: 0;

                @include display(phone) {
                    margin-bottom: 0;
                }
            }

        }
    
        p:first-child{
    
            @include display(phone) {
                margin-bottom: 20px;
            }
    
        }
    }

}

.work{

    //background: url(.png), linear-gradient(121.19deg, #326FF9 0%, #8238F4 72.55%);
    //background-blend-mode: hard-light, normal;
    
    display: flex;
    
    //background-color: #eee;
    //background: linear-gradient(120deg, #222 0%, #000 75%);
    //color: #fff;
    padding: 0 80px;
    //gap: 60px;
    @include gap--vertical(40px);

    @include display(phone) {
        //padding: 40px 0;
        padding: 40px 20px;
        //gap: 30px;
        @include gap--vertical(40px);
    }

    &.light{
        color: #000;

        a{
            color: #000;
        }
    }

    &:hover{
        
        .slick-arrow{

            display: block !important;

            @include display(phone){

                display: none !important;
            
            }
    
        }

    }

    .work-header{

        width: 100%;
        display: flex;
        color: #fff;
        padding: 70px 0;

        @include display(phone) {
            padding: 40px 20px;
        }

        .work-wrapper{
            display: flex;
            flex-direction: column;
            //gap: 20px;
            @include gap--vertical(20px);
        }

        h1{
            margin: 0;
            line-height: 1;
        }

        .work-info{
        
            display: flex;
            //gap: 20px;
            @include gap--vertical(20px);

            @include display(phone) {
                flex-direction: column;
                //gap: 5px;
                @include gap--vertical(5px);
            }
    
            > * {
                flex: 1;
                display: flex;
                align-items: center;
            }
            
            i{
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 8px;
            }
    
        }

        .work-tags{
            li{
                margin-bottom: 0;
            }
        }

    }

    .work-wrapper,
    .text{

        width: 850px;
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;

        @include display(phone) {
            width: auto;
        }

    }

    h2{
        font-size: 32px;
        margin-bottom: 10px;

        @include display(phone) {
            font-size: 24px;
        }

    }

    h3{
        font-size: 20px;
        margin-bottom: 10px;
    }

    p{

        font-size: 18px;
        line-height: 160%;
        letter-spacing: -0.02em;

    }

    .work-text{

        @include display(phone) {
            width: auto;
            padding: 0 20px;
        }

    }

    .work-body{
        //margin-left: 80px;
        //margin-right: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        //gap: 40px;
        @include gap--vertical(40px);

        @include display(phone) {
            padding: 0 20px;
            //gap: 20px;
            @include gap--vertical(80px);
        }

        &:empty{
            display: none;
        }

        .gatsby-resp-image-wrapper{
            overflow: hidden;
            display: flex !important;
            align-items: center;
            border-radius: 10px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1), 0px 0px 40px rgba(0, 0, 0, 0.1);



            img{
                object-fit: cover;
            }
        }

        .texts{

            display: flex;

            @include display(phone) {
                flex-direction: column;
            }
            
            > *{

                margin-right: 10px;
                margin-left: 10px;

                @include display(phone) {
                    margin: 0 0 10px 0;
                }

                &:first-child{
                    margin-left: 0;
                }

                &:last-child{
                    margin-right: 0;

                    @include display(phone) {
                        margin-bottom: 0;
                    }

                }

            }
            
        }

        .text{
            //max-width: 720px;

            p{
                margin-bottom: 20px;

                &:last-of-type{
                    margin-bottom: 0;
                }
            }

        }

        .gallery{

            display: flex;
            justify-content: center;
            //gap: 10px;
            @include gap(10px);

            @include display(phone) {
                flex-direction: column;
                @include gap--vertical(10px);
            }

            .gatsby-resp-image-wrapper{
                
                height: 100%;

            }

            img{
                border-radius: 5px;
            }

            + .gallery{
                margin-top: -10px;
            }

            &.gallery-narrow{
                max-width: 960px;
            }

        }
    }

    .slick-arrow{

        display: none !important;

    }

    a{
        color: #fff;
    }

    .work-title{
        color: inherit;
    }

}

.work-video{

    @include display(phone) {
        padding: 0 10px;
    }

    iframe,
    video{
        width: 846px;
        height: 528px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    }

    video{
        height: 476px;
    }

}

.slick-slider {

    width: 100%;
    
    &.slick-initialized{

    }

    .slick-list{

        @include display(phone) {
            //padding: 0 20px !important;
        }

    }

    .slick-track{

        @include display(phone) {
            //display: flex;
        }

    }

    .slick-slide{
        height: 626px;
        padding: 0 10px;

        @include display(phone) {
            max-width: calc(100vw - 40px);
            padding: 0 5px;
            height: 765px;
        }

        > div{
            height: 100%;

            overflow: auto;
            //margin: 0 10px;
            border: 1px solid rgba(255,255,255, .2);
            border-radius: 20px;
            padding: 9px;
        }

        .work-image{
            width: 620px;
            height: 100%;
            overflow: auto;
            border-radius: 10px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25), 0px 0 10px rgba(0, 0, 0, 0.25);
            background-color: #fff;

            @include display(phone) {
                width: 100%;
            }

            &.work-image-mobile{
                width: 280px;

                @include display(phone) {
                    width: 100%;
                }

            }
        }

        img{
            width: 100%;
        }

    }

    .slick-arrow{

        @include display(phone) {
            display: none !important;
        }

    }

}

.work-body{

    .gatsby-resp-image-background-image{
        display: none !important;
    }

    .gatsby-resp-image-image{
        position: static !important;
        box-shadow: none !important;
    }

}

.language-hidden{
    display: none;
}

.works-related{

    h2{
        text-align: center;        
    }

}