.block-works{

}

.work{

    //background: url(.png), linear-gradient(121.19deg, #326FF9 0%, #8238F4 72.55%);
    background-blend-mode: hard-light, normal;
    padding: 80px 0 80px 80px;
    display: flex;
    flex-direction: column;

}

.work-title{
    text-align: center;
}